*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.btn-style {
    height: 60px;
    margin-top: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20beb1;
  }
  
  svg {
    position: relative;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn-style:hover {
    transition: 1s ease-in-out;
    background: #72b6fa;
  }
  
  .btn-style:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn-style span {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-menu{
    width: 20px;
  }
  

input{
    height: 40px;
    width: 30vw;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

body{
    background-image: url(./img/bg-site.jpg);
}

.container{
    display: flex;
    margin: 0;
    padding: 0;
}

.hamburger-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hamburger-menu > img{
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    cursor: pointer;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
}

.box-content-menu{
    position: fixed;
    padding: 15px;
    top: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0px 50px 50px ;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.1px 0.1px 5px 0.1px rgb(0, 0, 0);
}

.content-menu{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}

.options-menu{
    display: flex;
    flex-direction: column;
}

#menu{
    display: none;
}

.header-main-content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main-logo{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.1px 0.1px 5px 0.1px rgb(0, 0, 0);
}

.header-main-logo p{
    font-size: 20px;
}

.logo{ 
    width: 130px;
    margin: 10px;
}

.view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-promotion{
    height: 60px;
    width: 70vw;
    height: 100%;
    background-color:#20beb1f3;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.banner{
    width: 100%;
}

.list-itens{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-product{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-product{
    width: 200px;
}

.block{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer{
    text-decoration: none;
}

.header-footer{
    padding: 0px 20px;
    height: 10vh;
    background-color: rgba(81, 93, 168, 0.964);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-footer-e-mail{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-footer-e-mail button{
    height: 50px;
    width: 100px;
}

.main-footer{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #72b6fa;
    color: white;
}

.options-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.end-footer{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}