*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.btn {
    height: 60px;
    margin-top: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  
  svg {
    position: relative;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    position: absolute;
    color: black;
    font-size: 18px;
    font-weight: 100;
  }
  

input{
    height: 40px;
    width: 30vw;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

body{
    background-image: url(./img/bg-content.jpg);
    background-size: 100%;
}

.container{
    display: flex;
    height: 100%;
    
}

.hamburger-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hamburger-menu > img{
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    cursor: pointer;
    align-items: flex-end;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgb(255, 255, 255);

}

.box-content-menu{
    position: fixed;
    padding: 15px;
    top: 0;
    background-color: rgba(81, 93, 168, 0.964);
    display: flex;
    flex-direction: column;
    border-radius: 0px 50px 50px ;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
}

.content-menu{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}

#menu{
    display: none;
}

.header-main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main-logo{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(81, 93, 168, 0.964);
    color: white;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);

}
.header-main-logo p{
 font-size: 20px;
}

.logo{ 
    width: 130px;
    margin: 10px;
}

.view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-promotion{
    height: 60px;
    width: 70vw;
    height: 100%;
    background-color:#5ecb0c;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


.block{
    width: 70vw;
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


footer{
    text-decoration: none;
}

.header-footer{
    padding: 0px 20px;
    height: 10vh;
    background-color: rgba(81, 93, 168, 0.964);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-footer-e-mail{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-footer-e-mail button{
    height: 50px;
    width: 100px;
}

.main-footer{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fa7b04;
}

.options-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
}

.end-footer{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}