*{
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}
button{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    transition:0.2s;
    color: white;
    transform: scale(1.05);
    font-size: 20px;
}

input{
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}
.container{
    display: flex;
    height: 100%;
    background-image: url(./img/bg-content.jpg);
    background-size: 100%;
}

.hamburger-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hamburger-menu > img{
    width: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    box-shadow: 1px 1px 5px 1px rgb(255, 255, 255);
}

.box-content-menu{
    position: fixed;
    padding: 10px;
    top: 0;
    background-color: #28B17D;
    display: flex;
    flex-direction: column;
    border-radius: 0px 50px 50px ;
    font-size: 20px;
    font-weight: bold;
}

.content-menu{
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#menu{
    display: none;
}

.btn-menu{
    background-color: transparent;
    border-bottom:  1px solid rgb(0, 0, 0);
    border-radius: 0;
    text-decoration: underline;
}

.btn-menu a{
    color: white;
}
.btn-menu:hover{
    background-color: #37C1E4;
    border-bottom:  1px solid rgb(255, 255, 255);
}

.btn-menu-sair{
    margin-top: 50px;
    background-color: red;
    border-bottom:  1px solid rgb(255, 255, 255);
    border-radius: 0;
}
.btn-menu-sair:hover{
    background-color: #37C1E4;
    border-bottom:  1px solid rgb(255, 4, 4);
}

.header-main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main-logo{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #28B17D;
  
}

.seach-box{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{ 
    width: 150px;
    margin: 10px;
}
.seach-box input{
    width: 50vw;
}
.seach-box button{
    height: 50px;
    width: 100px;
    margin: 10px;
    background-color: #EE3124;
    color: white;
}

.view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-promotion{
    height: 60px;
    width: 70vw;
    background-color: #2C3582;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
#txt{
    font-size: 25px;

}

.block{
    width: 70vw;
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-product{ 
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-box-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-box-product button{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    background-color: #04ce5871;
    border-radius: 50%;
}
.header-box-product button:hover{
    background-color: #04ce58;
}

.img-product{
    margin: 10px;
    height: 360px;
}

.description-product{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.value-product{
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.old-price-product{
    display: flex;
    text-decoration: line-through;
    color: red;
    font-size: 20px;
}

.price-product{
    display: flex;
    font-size: 25px;
}

.portion-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-buy-product{
    width: 90%;
    margin-top: 10px;
}

#btn-buy-now{
    background-color: #28B17D;
}

footer{
}

.header-footer{
    padding: 0px 20px;
    height: 10vh;
    background-color: #66CCD8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-footer-e-mail{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-footer-e-mail input{
    width: 30vw;
}

.header-footer-e-mail button{
    height: 50px;
    width: 100px;
}

.main-footer{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fa7b04;
}

.options-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
}

.end-footer{padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white
;}